.banner-logo {
  width: 170px;
  animation:
    float 6s ease-in-out infinite,
    pulseGlow 4s ease-in-out infinite;
}

/* Floating up & down */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pulseGlow {
  0% {
    filter: drop-shadow(0 0 8px rgba(255, 165, 40, 0.35));
  }
  50% {
    filter: drop-shadow(0 0 32px rgba(255, 210, 90, 0.9));
  }
  100% {
    filter: drop-shadow(0 0 8px rgba(255, 165, 40, 0.35));
  }
}


