.banner-logo {
  width: min(450px, 70vw);

  animation: pulseOnly 2.5s ease-in-out infinite;

  will-change: transform;

  position: relative;
  
  z-index: 2;
}

@keyframes pulseOnly {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}

