.top-banner {
  height: 550px;

  background:
    linear-gradient(
      to bottom,
      rgba(11, 11, 16, 0.2),
      rgba(11, 11, 16, 0.75)
    ),
    url("../assets/background.jpg");

  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}


