.top-banner {
  position: relative;
  height: 535px;

  background:
    linear-gradient(
      to bottom,
      rgba(11, 11, 16, 0.15),
      rgba(11, 11, 16, 0.95)
    ),
    url("../assets/background.jpg");

  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  border-bottom: 1px solid rgba(255, 255, 255, 0.06);

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.top-banner::before {
  content: "";
  position: absolute;
  inset: 0;

  background:
    radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0) 40%,
      rgba(0, 0, 0, 0.45) 100%
    );

  pointer-events: none;
}

.top-banner::after {
  content: "";
  position: absolute;
  inset: 0;

  background-image:
    repeating-linear-gradient(
      0deg,
      rgba(255,255,255,0.015),
      rgba(255,255,255,0.015) 1px,
      transparent 1px,
      transparent 2px
    );

  opacity: 0.15;
  pointer-events: none;
}

.store-layout {
  display: flex;
  justify-content: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .store-layout {
    justify-content: center;
  }

  .category-sidebar {
    width: 100%;
    max-width: 360px;
  }
}
