.store-wrapper {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 10px 0 0 10px;
  box-sizing: border-box;
  align-items: flex-start;
}

/* SIDEBAR FIX */
.category-sidebar {
  width: 260px;
  flex-shrink: 0;
}

.store-content {
  flex: 1;
  padding: 24px;
  min-height: 600px;      /* force visible area */
  display: block;         /* prevent flex collapse */
}

/* MOBILE */
@media (max-width: 480px) {
  .store-wrapper {
    flex-direction: column;
    padding-left: 0;
  }

  .category-sidebar {
    width: 100%;
  }

  .store-content {
    flex: 1;
    padding: 24px;
    min-height: 600px;      /* force visible area */
    display: block;         /* prevent flex collapse */
  }

  .package-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .package-card {
    background: #1c1c23;
    border-radius: 10px;
    padding: 14px;
    text-align: center;
  }
}

/* BANNER */
.top-banner {
  position: relative;
  height: 535px;

  background:
    linear-gradient(
      to bottom,
      rgba(11,11,16,0.15),
      rgba(11,11,16,0.95)
    ),
    url("../assets/background.jpg");

  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.package-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.package-card {
  background: #1c1c23;
  border-radius: 10px;
  padding: 14px;
}

.package-img {
  width: 100%;
  max-height: 140px;
  object-fit: contain;
  margin-bottom: 10px;
}

.package-title {
  text-align: center;
  width: 100%;
  display: block;
  color: #ffffff;
  font-weight: 600;
}

.package-price {
  color: #fb301;
  font-size: 12px;
  margin: 6px 0 10px;
  text-align: center;
  font-weight: 600;
}

.package-actions {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.info-btn {
  background: #1e90ff;
  border: none;
  color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.cart-btn {
  background: #f59e0b;
  border: none;
  color: #000;
  padding: 0px 14px;
  height: 32px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.category-section {
  display: none;
  margin-top: 20px;
}

.category-section.active {
  display: block;
}

.package-price span {
  color: #ff9800;
  font-weight: bold;
}

.info-btn:hover,
button.info:hover {
  background: #187bcd;
}
